html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

html{
    font-family: sans-serif;
    border: 1px solid;
}

header{
    display: flex;
    flex-wrap: wrap;
    height: 4em;
    justify-content: space-between;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 5em;
    color: white;
}

p{
    color: white;
    font-size: 1em;
}
.main-button{
    color: white;
    font-family:sans-serif;
    font-size:1.5rem;
    background-color:#BB2026;
    border:0px;
    padding:.5em 1.5em;
    margin: 1em;
}

.nav{ 
    display: flex;
    height: fit-content;
    margin-top: 0.9em;

}

.nav .nav-item{
    text-decoration: none;
    color: black;
    padding: .5em 1.5em;
    border: solid 1px;
    font-size: 1rem;
}


.big-picture {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    
}

.big-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40em;
    width: 100em;
    background: lightgray;
    background: url('https://picsum.photos/3000/?blur');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    
  }

.container .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 33em;
    width: 33em; 
    
    margin:2em 0em 2em 0rem;
    text-decoration: none;
  }

.container img {
    margin: 0 3rem;
    width: 100%;
    border: 1px solid black;
}

.container .caption{
    font-size: 2em;
    padding: .3em;

}

  
footer{
    display: flex;
    border: dotted black 1px;
    background-color: gray;
    flex-direction: column;
    align-items: center;

}

.footer-button{
    color: white;
    font-family:sans-serif;
    width: 9em;
    font-size:1.5rem;
    background-color:#BB2026;
    border:0px;
    padding:.5em 1.5em;
    margin: 1em;
}

.social-media{
    display: flex;
    padding-bottom: 1em;
}

.fa {
    padding: 1em;
    font-size: 1rem;
    width: 1em;
    text-align: center;
    text-decoration: none;
  }

.fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
